/* google fonts import 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto&display=swap');

/* generic styling for titles and text content */

p {
    font-family: 'Lato', sans-serif;
}
/* style for header elements */
h1,
h2 {
    font-family: 'Roboto', sans-serif; 
    text-transform:uppercase;
    font-style: italic;
}
header{
    height: 10vh;
    background-color: black;
}
#logo{
    float: left;
    color: white;
    margin: 20px 20px;
    font-size: 48px;

}
/* navigation styling */
#menu{
    float: right;
}
#menu li {
    float: left;
    list-style-type: none;
    margin: 2px 30px 5px 2px;
    letter-spacing: 2px;
    font-size: 20px;
}
#menu li a {
    color: white;
}
/* navigation hover effect */
#menu li :hover {
    color: #a63d40;
    text-decoration: none;
}
/* main image and introductory title */
#heroImage{
    height: 75vh;
    background-color: #a63d40;
    background-image: url(../images/spaceInvader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* brief description of what to expect */
#pageDescription{
    float: left;
    font-family:'Roboto', sans-serif;
    margin: 15% auto;
    font-size: 48px;
    color: aliceblue;
}




/* all details pertaining to footer elements (social media) */
footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    height: 100px;
    background-color: #151515;
    min-width: 100%;
    background-repeat: no-repeat;
}

footer i{
    color:#fff4fd;
    width: 50px;
    font-size: 40px;
    }

    footer a{
        margin: 25px 20px;
    }