/* google fonts import 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto&display=swap');

/* generic styling for titles and text content */

p {
    font-family: 'Lato', sans-serif;
}

/* style for header text elements */
h1,
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}
/* use class to center areas of text */
.textCenter{
    text-align: center;
}

/* style for logo 'barcade' */
#logo {
    float: left;
    color: white;
    margin: 20px 20px;
    font-size: 48px;
}

/* style for header section */

header {
    height: 10vh;
    background-color: black;
}

/* navigation styling */
#menu {
    float: right;
    margin: 45px auto;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 2px 30px 5px 2px;
    letter-spacing: 2px;
    font-size: 20px;
}

#menu li a {
    color: white;
}
/* sets active nav element to half shade */
.active{
    opacity: 0.5;
}

/* navigation hover effect */
#menu li :hover {
    color: #a63d40;
    text-decoration: none;
}

/* main image and introductory title */
#heroImage {
    height: 75vh;
    background-color: #a63d40;
    background-image: url(../images/spaceInvader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* brief description of what to expect */
#pageDescription {
    float: left;
    font-family: 'Roboto', sans-serif;
    margin: 15% auto;
    font-size: 48px;
    color: aliceblue;
}
/* middle info section */

#middle{
    height: 30vh;
}
/* middle info h2 element */
#middle h2{
    margin: 15px auto;
}
/* middle info p element */

#middle p{
    margin: 0 auto 0;
    width: 50em;
}

#midLeft{
    float: left;
    margin: 33px;
}

#midRight{
    float: right;
    margin: 33px;
}

.boxShadow{
    box-shadow: 0 20px 20px #a63d40;
}

/* label and form editing */

#resForm{
    height:30vh;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    display: inline-block;
    width: 100px;
    text-align: left;
}


/* all details pertaining to footer elements (social media) */
footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100px;
    background-color: #151515;
    min-width: 100%;
    background-repeat: no-repeat;
}

footer i {
    color: #fff4fd;
    width: 50px;
    font-size: 40px;
}

footer a {
    margin: 25px 20px;
}

footer a :hover{
opacity: 0.5;
}